<a href="https://colab.research.google.com/github/Rajkush02/python-Assignment-from-letsupgrade/blob/main/Strings_EC(A).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Strings:**

<p align="justify">A string is a sequence of characters that may be a combination of letters,numbers, and special symbols. To define a string in Python, you can enclose the string in matching single or double quotes:

<p align="justify">string1 = ‘I am enclosed in single quotes.’

<p align="justify">string2 = “I am enclosed in double quotes.”

# **String Indexing:**

![alt text](https://www.learnbyexample.org/wp-content/uploads/python/String-Indexing.png)

In [ ]:
str1="hello python"
print(str1[6:2:])

he
lo
yh
nohtyp olleh

# **Length of String:**

# **Concatenating Strings:**

# **Repeating Strings:**

# **Slicing Strings:**

# **.format():**

# **f string:**

# **String methods:**

# **a).split()**

<p align="justify">split method splits a string into a list.You can specify the separator, default separator is any whitespace.

**Syntax:**

string.split(separator, maxsplit)

# **b).splitlines()**

<p align="justify">The splitlines() method splits a string into a list. The splitting is done at line breaks.

**Synatx:**

string.splitlines()

In [ ]:
str1="this is \n first  \n statement"
list1=str1.splitlines()
print(list1)

['this is ', ' first  ', ' statement']

# **c).replace()**

<p align="justify">The replace() method replaces a specified phrase with another specified phrase.

**Syntax:**

string.replace(oldvalue, newvalue, count)

In [ ]:
str1="this is my first statement first"
str2=str1.replace("first","second",1)
print(str2)

this is my second statement first

# **d).lower()**

<p align="justify">The lower() method returns a string where all characters are lower case.Symbols and Numbers are ignored.

**Syntax:**

string.lower()

# **e).upper()**

<p align="justify">The upper() method returns a string where all characters are upper case.Symbols and Numbers are ignored.

**Syntax:**

string.upper()

# **f).startswith()**

<p align="justify">The startswith() method returns True if the string starts with the specified value, otherwise False.

**Syntax:**

string.startswith(value, start, end)

In [ ]:
str1="this is my first statement"
print(str1.startswith("first",11,20))

True

# **g).endswith()**

<p align="justify">The endswith() method returns True if the string ends with the specified value, otherwise False.

**Syntax:**

string.endswith(value, start, end)

In [ ]:
str1="this is my first statement"
print(str1.endswith("statement",2,15))

False

# **h).title()**

<p align="justify">The title() method returns a string where the first character in every word is upper case. Like a header, or a title.If the word contains a number or a symbol, the first letter after that will be converted to upper case.

**Syntax:**

string.title()

# **i).index()**

<p align="justify">The index() method finds the first occurrence of the specified value.The index() method raises an exception if the value is not found.

**Syntax:**

string.index(value, start, end)

In [ ]:
str1="hello"
print(str1.index("ell"))

1

# **j).count()**

<p align="justify">The count() method returns the number of times a specified value appears in the string.

**Syntax:**

string.count(value, start, end)

In [ ]:
str1="hello"
print(str1.count("ll"))

2

# **k).islower()**

<p align="justify">The islower() method returns True if all the characters are in lower case, otherwise False.Numbers, symbols and spaces are not checked, only alphabet characters.

**Syntax:**

string.islower()

# **l). isupper()**

<p align="justify">The isupper() method returns True if all the characters are in upper case, otherwise False.Numbers, symbols and spaces are not checked, only alphabet characters.

**Syntax:**

string.isupper()

## **m).isalnum()**

<p align="justify">The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9),else return False.

**Syntax:**

string.isalnum()

# **n).isdigit()**


<p align="justify">The isdigit() method returns True if all the characters are a numbers (0-9),else return False.

**Syntax:**

string.isdigit()

**Similarly : isalpha(),isidentifier(),isdecimal(),isnumeric(),isspace(),isprintable(),istitle()**

# **o).strip()**

<p align="justify">The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

**Syntax:**

string.strip(characters)

In [ ]:
str1=",,,,,,,,,,hello,,,,,,,,,"
str2=str1.strip("h,")
print(str2)

ello

# **p).rstrip()**

<p align="justify">The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

# **q).rsplit()**

**Difference between split and rsplit:**

In [ ]:
str1="1,2,3,4,5"
list2=str1.rsplit(",",2)
print(list2)

['1,2,3', '4', '5']

# **r).join()**

In [ ]:
str1="hello"
list2=list(str1)
list2.insert(3,"3")
str3="".join(list2)
print(str3)

hel3lo

# **S) .find()**

<p align="justify">- The find() method finds the first occurrence of the specified value.

<p align="justify">- It returns -1 if the value is not found.

<p align="justify">- The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.

**Syntax:**

string.find(value, start, end)

- value	Required. The value to search for
start	Optional. 

- Where to start the search. Default is 0
end	Optional. 

- Where to end the search. Default is to the end of the string